*{
	margin: 0px;
	padding: 0px;
}

body{

	background:url(../img/bg.jpg);
	background-position: center;
	background-size: cover;
}

.sign-up img{

	width:100px;
	display:block;
	margin:0 auto;

}

.sign-up{

	width:400px;
	background-color:#ffffff52;
	margin:0 auto;
	

}

